<div id="content-wrapper">


  <div id="single-services-page" class="category-page">


    <section class="content-section">
      <div class="custom-container remove-bottom-padding">
        <div class="section-title type-full-width type-small-margin">
          <h5>
            Dedicated to Wellbeing
          </h5>
          <h1>
            {{services.serviceName}}
         </h1>

          <div class="content">

            <p [innerHTML]="services.content"></p>

          </div>
        </div>

        <div class="section-content">
          <div class="image-container">
            <img [src]="services.imagePath" alt="{{services.imagePath}}" width="1260"
              height="600">
          </div>
          <div class="content">
          </div>
        </div>
      </div>
    </section>




    <!-- <section class="why-choose-section add-margin-top add-margin-bottom">
      <div class="custom-container">
        <div class="section-title type-white type-center type-full-width">
          <h5>We Care</h5>
          <h2>Why Choose Us</h2>
        </div>

        <div class="section-content">
          <div class="common-steps">

            <div class="steps-item">
              <div class="inner">
                <div class="image-container">
                  <img
                    src="http://wecarehealthcenter.org/application/files/cache/thumbnails/e9fa970b917aec0ceec6b36500ead8a4.png">
                </div>

                <div class="text-container">
                  <h5>Accurate diagnosis leading to the right treatment plan</h5>
                </div>
              </div>
            </div>


            <div class="steps-item">
              <div class="inner">
                <div class="image-container">
                  <img
                    src="http://wecarehealthcenter.org/application/files/cache/thumbnails/ab5e6b567eea095f1aed567a8fe38866.png">
                </div>

                <div class="text-container">
                  <h5>Enhanced patient comfort with minimum exposure to radiation</h5>
                </div>
              </div>
            </div>


            <div class="steps-item">
              <div class="inner">
                <div class="image-container">
                  <img
                    src="http://wecarehealthcenter.org/application/files/cache/thumbnails/f50db7d50c7a9629f4a4df647b6e4f1a.png">
                </div>

                <div class="text-container">
                  <h5>Focused high frequency radiation beam leading to Low Radiation Exposure</h5>
                </div>
              </div>
            </div>


            <div class="steps-item">
              <div class="inner">
                <div class="image-container">
                  <img
                    src="http://wecarehealthcenter.org/application/files/cache/thumbnails/9e6ae46f0269b350cbd384a12a9c9264.png">
                </div>

                <div class="text-container">
                  <h5>Enhanced safety due to reduced radiation exposure time</h5>
                </div>
              </div>
            </div>


            <div class="steps-item">
              <div class="inner">
                <div class="image-container">
                  <img
                    src="http://wecarehealthcenter.org/application/files/cache/thumbnails/6566d9c8d7468e180062c98747abc4dc.png">
                </div>

                <div class="text-container">
                  <h5>Real time reporting</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section> -->
    <!-- <script>
      $(document).ready(function () {
        // $('.home-banner-slider').slick({
        //     arrows: false,
        //     dots: true,
        //     autoplay: true,
        //     speed: 500,
        //     fade: true,
        //     cssEase: 'linear'
        // });
      });

    </script> -->






<!-- 

    <section class="service-section">
      <div class="custom-container remove-top-padding">
        <div class="section-title type-smaller-margin">
          <h6>Services</h6>

        </div>

        <div class="section-content">
          <div class="common-service-container">



            <div class="service-item">
              <div class="image-container">
                <a
                  href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/2d-opg-dental-x-ray">
                  <img src="img/radiology_Dental_OPG_list.jpg"
                    alt="radiology_Dental_OPG_list.jpg" width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/2d-opg-dental-x-ray">2D
                    OPG (Dental X-Ray)</a></h5>
              </div>
            </div>


            <div class="service-item">
              <div class="image-container">
                <a
                  href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/cbct-3d-dental-ct">
                  <img src="img/radiology_Cephalogram_list.jpg"
                    alt="radiology_Cephalogram_list.jpg" width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/cbct-3d-dental-ct">CBCT
                    (3D Dental CT)</a></h5>
              </div>
            </div>


            <div class="service-item">
              <div class="image-container">
                <a
                  href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/Digital-Dental-X-Ray">
                  <img src="img/digital_dental_outside.jpg"
                    alt="digital_dental_outside.jpg" width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/Digital-Dental-X-Ray">Digital
                    Dental X-Ray</a></h5>
              </div>
            </div>


            <div class="service-item">
              <div class="image-container">
                <a
                  href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/low-radiation-general-x-ray">
                  <img src="img/radiology_General_Xray_list.jpg"
                    alt="radiology_General_Xray_list.jpg" width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/low-radiation-general-x-ray">Low
                    Radiation General X-Ray</a></h5>
              </div>
            </div>


            <div class="service-item">
              <div class="image-container">
                <a
                  href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/portable-dental-x-ray">
                  <img src="img/radiology_portable_dental_xray_list.jpg"
                    alt="radiology_portable_dental_xray_list.jpg" width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/portable-dental-x-ray">Portable
                    Dental X-Ray</a></h5>
              </div>
            </div>


            <div class="service-item">
              <div class="image-container">
                <a
                  href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/usg-color-doppler">
                  <img src="img/radiology_USG_list.jpg" alt="radiology_USG_list.jpg"
                    width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/usg-color-doppler">USG
                    with color Doppler</a></h5>
              </div>
            </div>


            <div class="service-item">
              <div class="image-container">
                <a href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/cephalogram">
                  <img src="img/Cephalogram_outside.png.jpg"
                    alt="Cephalogram_outside.png.jpg" width="400" height="260"> </a>
              </div>
              <div class="text-container">
                <h5><a
                    href="http://wecarehealthcenter.org/service-post/radiology-and-imaging-science/cephalogram">Cephalogram</a>
                </h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>







    <section class="equipment-section">
      <div class="custom-container remove-top-padding">
        <div class="section-title type-smaller-margin">
          <h6>Lab Equipments</h6>
        </div>

        <div class="equipment-container">
          <div class="equipment-slider-section">
            <div class="equipment-slider">

              <div class="equipment-item">
                <div class="equipment-item-container">
                  <div class="image-container">
                    <img
                      src="http://wecarehealthcenter.org/application/files/cache/thumbnails/64815162fbe9bb30b4f48391c87811b7.png">
                  </div>
                </div>
              </div>


              <div class="equipment-item">
                <div class="equipment-item-container">
                  <div class="image-container">
                    <img
                      src="http://wecarehealthcenter.org/application/files/cache/thumbnails/57248d8c99d2fa306b5d197de4be2029.png">
                  </div>
                </div>
              </div>


              <div class="equipment-item">
                <div class="equipment-item-container">
                  <div class="image-container">
                    <img
                      src="http://wecarehealthcenter.org/application/files/cache/thumbnails/da2fe4b60e586eb7613d61eb3c62449f.png">
                  </div>
                </div>
              </div>


              <div class="equipment-item">
                <div class="equipment-item-container">
                  <div class="image-container">
                    <img
                      src="http://wecarehealthcenter.org/application/files/cache/thumbnails/5e6551c3586e864a0ccf4a1926e6cb98.jpg">
                  </div>
                </div>
              </div>


              <div class="equipment-item">
                <div class="equipment-item-container">
                  <div class="image-container">
                    <img
                      src="http://wecarehealthcenter.org/application/files/cache/thumbnails/5f87959b350b2347f95bfd67d36a879a.jpg">
                  </div>
                </div>
              </div>


              <div class="equipment-item">
                <div class="equipment-item-container">
                  <div class="image-container">
                    <img
                      src="http://wecarehealthcenter.org/application/files/cache/thumbnails/54a0efac425242ed50b93af42b115565.jpg">
                  </div>
                </div>
              </div>

            </div>
          </div>
       

        </div>
      </div>
    </section>

    <script>
      $(document).ready(function () {
        // $('.home-banner-slider').slick({
        //     arrows: false,
        //     dots: true,
        //     autoplay: true,
        //     speed: 500,
        //     fade: true,
        //     cssEase: 'linear'
        // });
      });

    </script> -->




  </div>





</div>
