#dynamic {
  width: 500px;
  border: dashed white;
  border-radius: 10%;
  padding: 3em;
  font-family: helvetica, arial;
  font-weight: bold;
  font-size: 1.5em;
  font-size: 1.5em;
  margin: 0px auto;
}
.newClass {
  border: none;
  background-color: orange;
}

#menu-wrap {
  position: fixed;
  width: 100%;
  z-index: 20000;
  margin: 0 auto;
  top: 0;
  left: 0;
}

#menu-wrap .container .columns {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-back {
  background: rgba(21, 21, 21, 0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cbp-af-header {
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink {
  margin-top: 0;
  -webkit-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);
  background: rgb(255 255 255 / 100%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink .logo {
  height: 87px;
  top: 12px;
  color: #197765;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li a {
  padding: 30px 0 17px 0;
  color: #212121;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li:hover a {
  color: #41b696;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li {
  margin: 0 12px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li:last-child {
  margin-right: 0;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul > li a {
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1px;
  width: calc(100% - 20px);
  display: block;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub {
  width: 190px;
  left: auto;
  padding: 10px;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

.cbp-af-header.cbp-af-header-shrink .menu-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-top {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 4;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-top p {
  color: #f1f1f1;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.lang-wrap {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 10px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 10;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.lang-wrap ul {
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  z-index: 10;
  padding: 0;
  margin: 0;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-transform: translate3d(0, -15px, 0);
  -moz-transform: translate3d(0, -15px, 0);
  -o-transform: translate3d(0, -15px, 0);
  -ms-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}

.lang-wrap.clicked ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

.lang-wrap ul a {
  text-decoration: none;
  color: #212121;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  position: relative;
  display: block;
}

.lang-wrap ul li {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: block;
  margin: 0;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  transition: all 250ms linear;
}

.lang-wrap ul a:hover {
  color: #fff;
}

.social-top {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 250ms linear;
}

.social-top:hover {
  text-decoration: none;
}

.call-top {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  transition: all 250ms linear;
}

.call-top:hover {
  text-decoration: none;
}

span.call-top:hover {
  color: #fff;
}

.logo {
  /* position: absolute; */
  height: 60px;
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
  z-index: 10000;
  font-size: 30px;
  color: #197765;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logo a {
  display: block;
  width: 120px;
}

.logo img {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-mobile {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  float: right;
  position: relative;
  top: 0;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 0px 10px;
  background: #ffffff;
  color: #5e53a4;
}

.menu {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  max-width: 1110px;
  z-index: 3;
}

.menu > ul {
  margin: 0 auto;
  width: auto;
  float: right;
  list-style: none;
  padding: 0;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}

.menu > ul:after {
  clear: both;
}

.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0 14px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu > ul > li a {
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  padding: 19px 0;
  display: block;
  font-size: 15px;
  vertical-align: bottom;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000;
  transition: all 0.3s ease-out;
  font-weight: 600;
  letter-spacing: 0;
}

.menu > ul > li a i {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
}

.menu > ul > li:hover a {
  color: #197765;
  opacity: 0.8;
}

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #fff;
  padding: 60px 50px;
  position: absolute;
  z-index: 99999;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
  /*    padding: 5px;*/
}

.menu > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li {
  padding-bottom: 0;
  list-style: none;
  width: 100%;
  background: none;
  float: left;
}

.menu > ul > li > ul > li p {
  padding: 0;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: calc(100% - 20px);
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu > ul > li > ul > li p span {
  vertical-align: super;
  font-size: 9px;
  line-height: 9px;
  font-weight: 500;
}

.menu > ul > li > ul > li a {
  padding: 9px 0 !important;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  display: block;
}

.menu > ul > li a span {
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  padding: 8px 16px;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu > ul > li a:hover span {
  background-color: #323232;
  color: #fff;
}

.menu > ul > li > ul > li a:hover {
}

.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: 0.8em;
}

.menu > ul > li > ul > li > ul > li a {
  border: 0;
}

.menu > ul > li > ul.normal-sub {
  width: 190px;
  left: auto;
  top: 54px;
  padding: 10px 15px;
  background-color: #fff;
  /* display: block; */
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 15%);
  border-radius: 5px;
}
.menu > ul > li:hover > ul.normal-sub {
  display: block;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

.menu > ul > li > ul.normal-sub > li:hover a {
  color: #197765;
}

@media only screen and (max-width: 1170px) {
  .menu-back {
    background: #197765;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .cbp-af-header.cbp-af-header-shrink {
    background: #5e53a4;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .cbp-af-header.cbp-af-header-shrink .logo {
    height: 50px;
    top: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .cbp-af-header.cbp-af-header-shrink .menu-top {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .logo {
    font-size: 20px;
    color: #fff;
    height: 50px;
    top: 15px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  #menu-wrap {
    position: relative;
  }

  .cbp-af-header.cbp-af-header-shrink .menu > ul > li a {
    padding: 10px 0;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul > li a {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: calc(100% - 20px);
    display: block;
  }

  .cbp-af-header.cbp-af-header-shrink .menu > ul {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .menu > ul {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .menu > ul > li a {
    padding: 10px 0;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .menu > ul > li > ul > li a {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: calc(100% - 20px);
    display: block;
  }

  .menu-container {
    width: 100%;
  }

  .menu-mobile {
    display: block;
  }

  .menu-dropdown-icon:before {
    display: block;
  }

  .menu > ul > li > ul {
    padding: 20px 0;
  }

  .menu > ul {
    width: 100%;
    float: none;
    position: relative;
    display: none;
  }

  .cbp-af-header.cbp-af-header-shrink .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
    margin: 3px 0;
  }

  .menu > ul > li {
    width: 100%;
    float: none;
    display: block;
    margin: 3px 0;
  }

  .menu > ul > li a {
    width: 100%;
    display: block;
  }

  .menu > ul > li > ul {
    position: relative;
  }

  .menu > ul > li > ul.normal-sub {
    width: 100%;
    padding: 0;
    top: 100%;
  }

  .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub {
    width: 100%;
    padding: 0;
  }

  .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 10px 0;
  }

  .menu > ul > li > ul > li {
    float: none;
    width: 100%;
    padding-bottom: 0;
  }

  .menu > ul > li > ul > li:first-child {
    margin: 0;
  }

  .menu > ul > li > ul > li > ul {
    position: relative;
  }

  .menu > ul > li > ul > li > ul > li {
    float: none;
  }

  .menu .show-on-mobile {
    display: block;
  }
}
