<header id="header-wrapper">
  <div class="top-header">
    <div class="custom-container remove-top-bottom-padding">
      <ul class="tag-line">
        <li><a>Dedicated to Wellbeing</a></li>
      </ul>
      <ul>
      </ul>
      <ul>
        <li><a href="https://wecare.danphehealth.com/" target="_blank">Telemedicine</a></li>
        <li><a href="health-at-home.html">Health at home</a>
        </li>
        <!--<li><a href="https://wecare.danphehealth.com" target="_blank">My Report</a></li>-->
      </ul>
    </div>
  </div>
  <div class="bottom-header">
    <div class="custom-container remove-top-bottom-padding">
      <div class="block-container">
        <div class="logo-container">
          <a href="index.html"><img src="../../../../assets/img/logo_final.png" alt="" width="140" height="123"
              class="ccm-image-block img-responsive bID-250"></a>
        </div>
        <div class="nav-container">
          <div class="nav-item" >
            <ul>
              <li class=" has-sub-menu " >
                <a [routerLink]="[ '/', 'servicepage' ]" class="">Services</a>
                <ul *ngIf="isservice2 == false">
                  <li>
                    <a *ngFor="let data of service1" [routerLink]="[ '/service', data.permaLink ]">{{data.serviceName}}
                    </a>
                  </li>
                  <!-- <li class=""><a href="radiology.html"
                      class="">Radiology and Imaging Science</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/health-at-home" class="">Health
                      at home</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/telemedicine"
                      class="">Telemedicine</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/diagnostic-pathology-lab"
                      class="">Diagnostic Pathology Lab</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/covid-protocol" class="">COVID
                      protocol</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/opd-service" class="">OPD
                      Service</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/Health-and-Wellness"
                      class="">Health and Wellness</a></li>
                  <li class=""><a
                      href="http://wecarehealthcenter.org/service-post/General-and-Specialized-Dental-Services"
                      class="">General and Specialized Dental Services</a></li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/Pharmacy" class="">Pharmacy</a>
                  </li>
                  <li class=""><a href="http://wecarehealthcenter.org/service-post/Caf%C3%A9-Care" class="">Café
                      Care</a></li> -->
                </ul>
                <ul *ngIf="isservice2 == true">
                  <li>
                    <a *ngFor="let data of service1" [routerLink]="[ '/service', data.permaLink ]">{{data.serviceName}}
                    </a>
                  </li>
                  <li>
                    <a *ngFor="let data of service2" [routerLink]="[ '/service', data.permaLink ]">{{data.serviceName}}
                    </a>
                  </li>
                </ul>
              </li>
              <li class=""><a href="package.html" class="">Packages</a></li>
              <li class=""><a [routerLink]="[ '/', 'specialist' ]" class="">Find
                  A Doctor</a>
              </li>
              <li class=""><a href="career.html" class="">Career</a>
              </li>
              <li class="mobile-menu"><a href="https://wecare.danphehealth.com/" class="">Telemedicine</a></li>
              <li class=""><a [routerLink]="[ '/', 'contactpage' ]" class="">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="toggle">
          <!--<div class="nav-item">
                        <ul>
                            <li>
                                <a href="https://wecare.danphehealth.com" target="_blank" class="co-btn type-fill">
                                    Make an Appointment
                                </a>
                            </li>
                        </ul>
                        </div>-->
          <div class="image-container">
            <img src="./Home __ Wecare_files/menu.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>