body {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    color: #333;
    overflow-x: hidden;
}
a {
    color: #0db696;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.25;
    color: #363636;
}
h1, .h1 {
    font-size: 4rem;
    /*    font-weight: 200;*/
}
h2, .h2 {
    font-size: 3.4rem;
    /*    font-weight: 300;*/
}
h3, .h3 {
    font-size: 2.7rem;
    text-transform: capitalize;
}
h4, .h4 {
    font-size: 2.2rem;
}
h5, .h5 {
    font-size: 1.6rem;
    /*    font-weight: 400;*/
    color: #444;
    text-transform: capitalize;
}
h6, .h6 {
    font-size: 1rem;
    text-transform: uppercase;
    /*    font-weight: 400;*/
    letter-spacing: 2px;
}
::selection {
    color: #fff;
    background-color: #5e53a4;
}
::-moz-selection {
    color: #fff;
    background-color: #5e53a4;
}
mark {
    color: #fff;
}
/* #Preload
================================================== */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999999;
}
.loader__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    height: 36px;
    width: 36px;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: .4;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}
/* #Primary style
================================================== */
.section {
    position: relative;
    width: 100%;
    display: block;
}
.subtitle {
    position: relative;
    color: #999;
    display: block;
    font-weight: 500;
    font-size: 18px;
}
.subtitle.with-line:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    z-index: 3;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.relative {
    position: relative;
}
.over-hide {
    overflow: hidden;
}
.over-y-scroll {
    overflow-y: scroll;
    z-index: 2099;
}
.full-height {
    height: 100vh;
}
.hero-full-height {
    height: calc(100vh - 140px);
}
.half-height {
    height: 50vh;
}
.big-55-height {
    height: 55vh;
}
.big-60-height {
    height: 60vh;
}
.big-65-height {
    height: 65vh;
}
.big-70-height {
    height: 70vh;
}
.big-75-height {
    height: 75vh;
}
.big-80-height {
    height: 80vh;
}
.max-width-80 {
    max-width: 80%;
}
.background-white {
    background-color: #ffffff;
}
.background-grey {
    background-color: #fbfbfb;
}
.background-grey-1 {
    background-color: #f9f9f9;
}
.background-dark {
    background-color: #181818;
}
.background-dark-1 {
    background-color: #242424;
}
.background-dark-2 {
    background-color: #1b1b1b;
}
.background-black {
    background-color: #000000;
}
.color-black {
    color: #000000;
}
.color-white {
    color: #ffffff;
}
.color-grey {
    color: #e1e1e1;
}
.img-wrap {
    position: relative;
    width: 100%;
    display: block;
}
.img-wrap img {
    width: 100%;
    height: auto;
    display: block;
}
.z-bigger {
    z-index: 10;
}
.z-too-big {
    z-index: 11000;
}
.padding-page-top {
    padding-top: 180px;
}
.padding-top-bottom {
    padding-top: 90px;
    padding-bottom: 90px;
}
.padding-top {
    padding-top: 90px;
}
.padding-bottom {
    padding-bottom: 90px;
}
.padding-top-bottom-big {
    padding-top: 130px;
    padding-bottom: 130px;
}
.padding-top-big {
    padding-top: 130px;
}
.padding-bottom-big {
    padding-bottom: 130px;
}
.padding-top-bottom-small {
    padding-top: 70px;
    padding-bottom: 70px;
}
.padding-top-small {
    padding-top: 70px;
}
.padding-bottom-small {
    padding-bottom: 70px;
}
.padding-top-bottom-smaller {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padding-top-smaller {
    padding-top: 50px;
}
.padding-bottom-smaller {
    padding-bottom: 50px;
}
.btn {
    padding: 10px 18px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.btn:active, .btn:focus {
    border: 0;
    outline: 0;
}
.btn-outline {
    border: 1px solid #fff;
    box-shadow: none;
    outline: none;
    border-radius: 30px;
    display: block;
    width: 120px;
}
.btn-outline:hover {
    background-color: #fff;
    color: #5e53a4;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #070707;
    width: 35px;
    height: 35px;
    z-index: 100000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    cursor: pointer;
    background-image: url('../img/arrow-up.svg');
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.scroll-to-top i {
    width: 100%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    color: #fff;
}
.sep-line {
    position: relative;
    width: 100%;
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}
/* #Navigation
================================================== */
#menu-wrap {
    position: fixed;
    width: 100%;
    z-index: 20000;
    margin: 0 auto;
    top: 0;
    left: 0;
}
#menu-wrap .container .columns {
    margin-top: 0;
    margin-bottom: 0;
}
.menu-back {
    background: rgba(21, 21, 21, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header {
    margin-top: 20px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink {
    margin-top: 0;
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
    background: rgb(255 255 255 / 100%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .logo {
    height: 87px;
    top: 12px;
    color: #197765;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li a {
    padding: 30px 0 17px 0;
    color: #212121;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li:hover a {
    color: #41b696;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li {
    margin: 0 12px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li:last-child {
    margin-right: 0;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul > li a {
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    width: calc(100% - 20px);
    display: block;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub {
    width: 190px;
    left: auto;
    padding: 10px;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li {
    width: 100%;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.cbp-af-header.cbp-af-header-shrink .menu-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-top {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 4;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-top p {
    color: #f1f1f1;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
.lang-wrap {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 10px;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 10;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.lang-wrap ul {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    z-index: 10;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -o-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}
.lang-wrap.clicked ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
.lang-wrap ul a {
    text-decoration: none;
    color: #212121;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    position: relative;
    display: block;
}
.lang-wrap ul li {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: block;
    margin: 0;
    line-height: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    transition: all 250ms linear;
}
.lang-wrap ul a:hover {
    color: #fff;
}
.social-top {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, .2);
    transition: all 250ms linear;
}
.social-top:hover {
    text-decoration: none;
}
.call-top {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    transition: all 250ms linear;
}
.call-top:hover {
    text-decoration: none;
}
span.call-top:hover {
    color: #fff;
}
.logo {
    /* position: absolute; */
    height: 80px;
    justify-content: center;
    flex-direction: column;
    display: inline-flex;
    z-index: 10000;
    font-size: 30px;
    color: #009688;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.logo a {
    display: block;
    width: 150px;
}
.logo img {
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-mobile {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    float: right;
    position: relative;
    top: 0;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 0px 10px;
    background: #ffffff;
    color: #5e53a4;
}
.menu {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1110px;
    z-index: 3;
}
.menu > ul {
    margin: 0 auto;
    width: auto;
    float: right;
    list-style: none;
    padding: 0;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}
.menu > ul:before, .menu > ul:after {
    content: "";
    display: table;
}
.menu > ul:after {
    clear: both;
}
.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0 14px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu > ul > li a {
    text-decoration: none;
    padding: 24px 0;
    display: block;
    font-size: 14px;
    vertical-align: bottom;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.menu > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}
.menu > ul > li:hover a {
    color: #0eb07c;
}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #009688;
    padding: 60px 50px;
    position: absolute;
    z-index: 99999;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul:before, .menu > ul > li > ul:after {
    content: "";
    display: table;
    /*    padding: 5px;*/
}
.menu > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li {
    padding-bottom: 0;
    list-style: none;
    width: 100%;
    background: none;
    float: left;
}
.menu > ul > li > ul > li p {
    padding: 0;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: calc(100% - 20px);
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.menu > ul > li > ul > li p span {
    vertical-align: super;
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
}
.menu > ul > li > ul > li a {
    padding: 9px 0 !important;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    letter-spacing: 1px;
    display: block;
}
.menu > ul > li a span {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    padding: 8px 16px;
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.menu > ul > li a:hover span {
    background-color: #323232;
    color: #fff;
}
.menu > ul > li > ul > li a:hover {}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
    border: 0;
}
.menu > ul > li > ul.normal-sub {
    width: 190px;
    left: auto;
    top: 67px;
    padding: 10px;
}
.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.menu > ul > li > ul.normal-sub > li:hover a {
    color: #5e53a4;
}
@media only screen and (max-width: 1170px) {
    .menu-back {
        background: #009688;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink {
        background: #5e53a4;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink .logo {
        height: 50px;
        top: 15px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink .menu-top {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .logo {
        font-size: 20px;
        color: #fff;
        height: 50px;
        top: 15px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    #menu-wrap {
        position: relative;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li a {
        padding: 10px 0;
        color: #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul > li a {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        color: #000;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: calc(100% - 20px);
        display: block;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul {
        padding-top: 40px;
        padding-bottom: 40px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu > ul {
        padding-top: 40px;
        padding-bottom: 40px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu > ul > li a {
        padding: 10px 0;
        color: #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu > ul > li > ul > li a {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        color: #000;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: calc(100% - 20px);
        display: block;
    }
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul > li > ul {
        padding: 20px 0;
    }
    .menu > ul {
        width: 100%;
        float: none;
        position: relative;
        display: none;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        margin: 3px 0;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        margin: 3px 0;
    }
    .menu > ul > li a {
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
        padding: 0;
        top: 100%;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub {
        width: 100%;
        padding: 0;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li a {
        border: 0;
        padding: 10px 0;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        padding-bottom: 0;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}
/* #Hero center section
================================================== */
.hero-center-section {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -50px;
    z-index: 10000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero-center-section.ver-2 {
    margin-top: 20px;
}
.hero-center-section.pages {
    margin-top: 40px;
}
.hero-center-section h4 {
    font-size: 0.9rem;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;
}
.hero-text {
    color: #333;
    font-size: 2.5vw;
    line-height: 1.2;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
}
.hero-text b {
    font-weight: 800;
    font-size: 45px;
    color: #0aaf7b;
    display: block;
}
.hero-small-text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-stars {
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 12px;
}
.hero-stars .fa {
    margin-left: 3px;
    margin-right: 3px;
}
/* #Hero flip slider
================================================== */
a:hover {
    text-decoration: none;
}
button:focus, a:focus {
    outline: none;
}
.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
/* Icons */
.icon {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    fill: currentColor;
}
.nav {
    display: block;
    position: absolute;
    bottom: 43px;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    z-index: 4000;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav__button {
    position: relative;
    border: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    line-height: 1;
    background: none;
    z-index: 6000;
}
.nav__button:focus {
    outline: none;
}
.nav__button:hover {}
.nav__button-text {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(35, 35, 35, .8);
    display: block;
    z-index: 6000;
    cursor: pointer;
}
.nav__button-text::after, .nav__button-text::before {
    content: '';
    position: absolute;
    height: 1px;
    top: 20px;
    width: 15px;
    right: 13px;
    background: #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav__button-text::after {
    transition: opacity 0.2s, transform 0.2s;
}
.nav--open .nav__button-text::after {
    transform: rotate(90deg);
    opacity: 0;
}
.nav__button-text::before {
    transform: rotate(90deg);
    transition: transform 0.2s;
}
.nav--open .nav__button-text::before {
    transform: rotate(0deg);
}
.toc {
    position: absolute;
    top: calc(-100% - 40px);
    left: 50%;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav--open .toc {
    opacity: 1;
}
.toc__item {
    pointer-events: none;
    opacity: 0;
    display: block;
    min-width: 200px;
    margin: 0.15rem 0;
    opacity: 0;
}
.nav--open .toc__item {
    pointer-events: auto;
}
.toc__item-title {
    pointer-events: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.toc__item:hover .toc__item-title {
    color: #999;
}
.arrow-nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4000;
    padding: 1.25rem;
}
.arrow-nav__item {
    pointer-events: auto;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    color: #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.arrow-nav__item--prev {
    visibility: hidden;
}
.arrow-nav__item--prev .icon {
    transform: rotate(180deg);
}
.icon--nav {
    pointer-events: none;
    transition: transform 0.2s;
}
.arrow-nav__item--next:hover .icon--nav {
    transform: translate3d(-2px, 0, 0);
}
.arrow-nav__item--prev:hover .icon--nav {
    transform: rotate(180deg) translate3d(-2px, 0, 0);
}
.nav__chapter {
    font-size: inherit;
    font-weight: normal;
    margin-top: 12px;
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #e6e6e6;
    line-height: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.nav__chapter:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    bottom: -15px;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
}
.nav--open .nav__chapter {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
#poster_background {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: url('../img/wall-bg.jpg')no-repeat bottom left;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.over-hide .inner-poster-bg {
    background: url('../img/team.png')no-repeat !important;
    background-size: 70% !important;
    background-position: right 68% !important;
}
.dark-over-video {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
}
.dark-over-pages {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .4));
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
}
.home-translate {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
}
.home-shadow {
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.6);
}
.form {
    background-color: transparent;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: 2px solid #dbdddc;
    padding: 15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.form-textarea {
    height: 150px;
}
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
.fontawesome-calendar {
    position: absolute;
    top: 26px;
    right: 0;
    font-size: 24px;
    z-index: -99;
}
@-webkit-keyframes popup {
    from {
        opacity: 0;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes popup {
    from {
        opacity: 0;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/* #Services
================================================== */
.services-wrap {
    overflow: hidden;
}
.services-wrap img {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.services-wrap:hover img {
    transform: rotate(-2deg) scale(1.1);
}
.process-img {
    width: 85px;
}
.services-text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    padding: 8px 18px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    margin-top: -16px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.services-box {
    position: relative;
    width: 100%;
    display: block;
    background-color: #fff;
    box-shadow: 0px 6px 12px #eee;
    padding: 52px 25px;
    border-radius: 10px;
    min-height: 350px;
}
.services-box i {
    display: block;
    margin: 0 auto 30px auto;
    font-size: 2.3rem;
    background-color: #41b696;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    border-radius: 50%;
}
.services-box h5 {
    font-size: 1.4rem;
}
.services-box h5 a {
    font-size: 1.3rem;
    font-weight: 600;
    color: #050505;
}
.drop-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.separator-wrap {
    width: 100%;
    min-height: 1px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: no-wrap;
    webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.separator-wrap p {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.separator {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 10%;
}
.separator-line {
    position: relative;
    height: 1px;
    display: block;
    top: 1px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
}
.opacity-40 {
    opacity: 0.4;
}
.separator-line.med {
    border-top-width: 3px;
}
.separator-line.big {
    border-top-width: 8px;
    border-radius: 2px;
}
.separator-line.dashed {
    border-top-style: dashed;
    outline: none;
}
.form-control {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.75rem;
    font-size: .8rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control:active, .form-control:focus {
    background-color: transparent;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}
.text-opacity {
    opacity: .5;
}
/* #Media
================================================== */
@media (max-width: 1500px) {}
@media (max-width: 1300px) {}
@media (max-width: 1199px) {
    .hero-text {
        font-size: 40px;
    }
}
@media (max-width: 1170px) {
    .slide {
        padding-top: 0;
    }
    .slideshow {
        height: calc(100vh - 132px);
    }
    .hero-full-height {
        height: calc(100vh - 210px);
    }
    h1, .h1 {
        font-size: 3rem;
    }
    h2, .h2 {
        font-size: 2.3rem;
    }
    h3, .h3 {
        font-size: 2rem;
    }
    h4, .h4 {
        font-size: 1.7rem;
    }
    h5, .h5 {
        font-size: 1.2rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
}
@media (max-width: 991px) {
    .hero-text {
        font-size: 30px;
    }
    .hero-text-ver-2 {
        font-size: 7vw;
    }
}
@media (max-width: 767px) {
    .hero-text-center {
        align-items: center;
    }
    .padding-top-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .offset-1 {
        margin-left: 0px !important
    }
    .hero-center-section {
        position: relative;
        position: relative;
        top: 0;
        transform: inherit;
    }
    section {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .emmergency-image img {
        max-width: 100%;
        width: 100%;
    }
    .coverage-media .brand-image {
        margin-bottom: 15px;
    }
    .coverage-media .brand-image img, {
        height: 100px;
        width: 100px;
    }
    .section-title {
        font-size: 1.5rem !important;
    }
    .hero-overlays {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #fff;
        opacity: 0.9;
    }
    .section-title-main {
        font-size: 1.5rem !important;
        margin-top: 15px;
    }
    .full-height {
        min-height: 100vh;
        max-height: 200vh;
        height: auto;
    }
    .testimonial .slide {
        margin-top: 40px;
    }
    .hero-content-form-wrapper {
        margin-left: 0px !important;
    }
    .hero-text b {
        font-size: 35px;
    }
    .hero-center-section h4 {
        font-size: 0.7rem;
        color: #333;
        letter-spacing: 0;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }
    .hero-text {
        font-size: 13px;
        line-height: 1.4;
        margin-top: auto;
        text-align: center;
        font-weight: 500;
    }
}
@media (max-width: 575px) {}
.hero-text-center {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.hero-content-form-wrapper {
    background-color: #2b4ea0;
    padding: 15px;
    box-shadow: none;
    position: relative;
}
.hero-content-form-wrapper .inner-form {
    background-color: #f7f8fd;
    padding: 20px;
}
.hero-content-form-wrapper .inner-form .form-group {
    position: relative;
}
.hero-content-form-wrapper .inner-form .form-group .hydrated {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 18px;
    color: #999999;
    margin-top: -9px;
}
.hero-content-form-wrapper h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}
.hero-content-form-wrapper h3 small {
    display: block;
    font-size: 1rem;
    color: #009688;
    font-weight: bold;
}
.hero-content-form-wrapper .form-control {
    background-color: #ffffff;
    border: 1px solid #bbb;
    border-left: 3px solid #203c7d;
    border-radius: 3px;
    font-weight: 600;
    padding-left: 37px;
}
.hero-content-form-wrapper textarea.form-control {
    height: auto;
}
.hero-content-form-wrapper .btn {
    background-color: #ec4072;
    border-color: #dc3d6b;
    border-radius: 30px;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin: 15px 0;
}
.hero-content-form-wrapper .btn:hover, .hero-content-form-wrapper .btn:focus {
    background-color: #dc3d6b !important;
    border-color: #ec4072 !important;
}
/*Featured Section Css*/
.featured-section {}
.featured-section h3 {
    text-transform: none;
    font-size: 2.5rem;
    font-weight: 600;
}
p {
    font-weight: 500;
    margin-bottom: 25px;
}
.section-title-main {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 25px;
}
.control-label {
    font-size: 0.85rem;
    font-weight: 400;
}
.sub-heading {
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 25px !important;
}
section.contact-us, section.coverage-media, section.home-isolation {
    background-color: #f5f7f9;
    padding: 80px 0;
}
.text-primary {
    color: rgb(94 83 164);
}
.btn-primary {
    background-color: #0db696;
    border: 1px solid #0db696;
    padding: 15px 25px;
    border-radius: 20px;
    font-weight: 500;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #009688 !important;
    border: 1px solid #009688 !important;
    padding: 15px 25px;
    border-radius: 20px;
    font-weight: 500;
}
.form-control {
    background: #fff;
    border: none;
    box-shadow: none;
    height: 45px;
    border-radius: 0px;
}
.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 37px;
}
.contact-widget-section2 p {
    font-size: 0.85rem;
    font-weight: 300;
    margin-bottom: 25px;
}
.office-sec {
    font-weight: 600;
    margin: 15px auto;
}
.find-widget {
    font-weight: 500;
    margin: 7px auto;
}
.mt-5 {
    margin-top: 5rem;
}
section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.coverage-media .brand-image {
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coverage-media .brand-image a {
    height: 100%;
}
.coverage-media .brand-image a img {
    height: 100%;
    object-fit: contain;
}
.team-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.d-block {
    display: block;
}
.mb-1 {
    margin-bottom: 1rem;
}
ul.list-feature li {
    list-style: none;
    font-weight: 600;
    color: #333;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.85rem;
}
.list-feature li span {
    height: 25px;
    width: 25px;
    background: #0db696;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 0;
    padding: 10px;
    font-size: 13px;
    border-radius: 100%;
    color: #fff !important;
}
.text-primary {
    color: #0db696 !important;
}
footer ul {
    padding-left: 0;
}
.social-media ul li {
    display: inline-block;
    font-size: 30px;
}
.social-media ul li:hover a, footer a:hover {
    color: #eee;
}
footer ul li {
    list-style: none;
}
footer ul li i {
    margin-right: 7px;
}
footer {
    background-color: #197765;
    padding: 40px 20px 0 20px;
    color: #fff;
}
footer h3 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}
footer p {
    font-size: 11px;
    margin-bottom: 10px;
    color: #fff;
}
footer ul.contact {
    background: url(../img/world-map-dotted.png) no-repeat;
    background-size: 100%;
    padding-left: 0;
}
footer a {
    color: #fff;
    display: inline-block;
}
footer ul.contact li {
    list-style: none;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
    font-size: 11px;
    font-weight: 300;
}
.bottom-footer p {
    margin-bottom: 0;
}
footer .subscribe form .form-group .form-control {
    background-color: #fff;
}
.bottom-footer {
    border-top: 1px solid #009688;
}
ul.list-feature {
    padding-left: 0
}
.frontside .card {
    background-color: transparent;
    border: none;
}
.frontside .card .card-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.coverage-media .brand-image img, .emmergency-image img {
    max-width: 100%;
}
p {
    font-size: 0.85rem;
    font-weight: 500;
    color: #666;
}
.section-title-main strong, .section-title strong {
    font-weight: 700 !important;
}
.modal-backdrop {
    z-index: 99999;
}
.modal {
    z-index: 999999;
}
.testimonial_subtitle {
    margin-bottom: 15px;
}
.light-over-pages {
    position: absolute;
    background: #efeff2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0.9
}
.list-style {
    padding: 0;
}
.list-style li {
    list-style: none;
    position: relative;
    padding-left: 25px;
    margin: 5px 0;
}
.list-style li span {
    display: block;
}
.list-style li:before {
    content: "\f00c";
    font-family: FontAwesome;
    background-color: #0db696;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15px;
    height: 15px;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0;
}
.home-isolation .sub-heading, .emmergency-info .sub-heading {
    font-weight: 700;
    font-size: 1.5rem;
}
.isolation-image img {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}
.home-isolation-dialog .home-isolation {
    padding: 20px 0 !important;
}
.home-isolation-dialog {
    max-width: 1000px;
}
.page-top {
    background-color: #f1fbf9;
    /* top: 75px; */
    padding: 15px 0;
    border-top: 1px solid #ebf3f1;
    border-bottom: 1px solid #e4eceb;
    margin-top: 80px;
}
.page-top .hero-text {
    margin: 0 0 4px 0;
    color: #fff;
}
.page-top .hero-text b {
    font-size: 35px;
    margin-bottom: 10px;
}
.page-top h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.page-top .hero-text-center {
    /* max-width: 600px; */
    /* margin: 0 auto; */
    text-align: left;
}
/*Team Css*/
.box-widget {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(38, 37, 37, 0.16);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.bx-img-wrap {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 30px auto;
    border: 3px solid #fff;
    overflow: hidden;
    box-shadow: 0px 0px 6px 0px rgba(38, 37, 37, 0.16);
}
.bx-img-wrap img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
}
.bx-widget-content {
    /* background-color: #f7f7f7; */
    padding: 20px 15px 15px 15px;
    text-align: center;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-in-out;
    /* height: 100%; */
}
.bx-widget-content:before {
    content: "";
    border-top: 20px solid transparent;
    border-right: 256px solid #f7f7f7;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: -20px;
    right: 0;
    /* width: 100%; */
    /* height: 100%; */
    display: none;
    z-index: 1;
}
.bx-widget-content h4 {
    font-size: 18px;
    font-weight: 800;
    /* position: relative; */
    color: #197765;
    line-height: 23px;
    margin-bottom: 10px;
}
.bx-widget-content h4:after {
    content: "";
    width: 30%;
    height: 2px;
    display: block;
    /* background-color: #197765; */
    margin: 0px 0;
}
.bx-widget-content h4 span {
    color: #000;
    font-size: 13px;
    display: block;
    /*    font-style: italic;*/
    font-weight: 700;
}
.bx-widget-content p {
    margin: 0 0 0 0;
    font-size: 12px;
    color: #000;
}
.bx-overlay-hover {
    background-color: rgb(0 150 136 / 89%);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}
.box-widget:hover .bx-widget-content {}
.bx-widget-content b {
    /*margin-bottom: 10px;*/
    display: block;
}
.team-div {
    height: 255px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;
}
.team-div .front {}
.team-div .front img {
    width: 100%;
}
.team-div .bx-widget-content {
    position: absolute;
    bottom: -79px;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(226 225 225 / 78%);
}
.team-div .bx-widget-content:before {
    display: none;
}
.team-div:hover .bx-widget-content {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.team-div:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
}
.breadcrumb {
    background-color: transparent;
    padding: 25px 0;
    margin: 0;
    float: right;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "\f105";
    font-family: FontAwesome;
}
.contact-page {}
.contact-page .sub-heading {
    font-size: 20px;
    font-weight: 800;
}
.contact-page .form-group {}
.contact-page .form-control {
    border: 1px solid #cacaca;
    border-radius: 5px;
}
.contact-page .form-group label {
    font-weight: 700;
}
.contact-page .section-title {}
.contact-page ul {
    padding: 0;
    display: flex;
}
.contact-page ul li {
    list-style: none;
    display: block;
    margin-right: 30px;
    font-size: 16px;
}
.contact-page ul li a {}
.contact-page ul li i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    border: 1px solid #197765;
    text-align: center;
    font-size: 24px;
    color: #197765;
}
.contact-page ul li b {
    margin: 0 5px;
}
.inner-content {}
.inner-content h3 {
    font-size: 25px;
    /* font-weight: 800; */
    margin-bottom: 5px;
    /* color: #009688; */
}
.inner-content h3 span, .inner-content h4 span {
    text-align: center;
    display: block;
}
.inner-content h4 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #009688;
}
.inner-content h4 span {}
.inner-content p {
    margin: 9px 0;
    font-size: 20px;
    color: #000;
}
.inner-content p b {
    color: #009688;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}
.inner-content ul {
    padding: 0;
}
.inner-content ul li {
    list-style: none;
    position: relative;
    padding: 3px 5px 3px 25px;
    font-size: 20px;
}
.inner-content ul li b {
    display: block;
    color: #009688;
}
.inner-content ul li a {}
.inner-content ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    top: 3px;
    left: 0;
    color: #009688;
}
.nav-tab-wrap {}
.nav-tab-wrap .nav {
    position: static;
    display: flex;
    transform: none;
}
.inner-content .nav-tab-wrap .nav li:before {
    display: none;
}
.nav-tab-wrap .nav li {
    padding: 0;
}
.nav-tab-wrap .nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #363636;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688 #009688 #fff;
}
.content-frame {
    border: 1px solid #ccc;
    padding: 30px;
    margin-top: 15px;
}
.content-img {
    width: 230px;
    display: inline-block;
    margin: 10px 20px 10px 0;
    text-align: center;
}
.content-img .image {
    height: 230px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 5px;
}
.content-img .image img {
    width: 100%;
}
.content-img .profile-intro {}
.content-img .profile-intro p {
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
}
.content-img .profile-intro p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    margin: 5px 0;
}
.flyer {
    /*max-width: 400px;*/
    margin: 20px auto;
}
.flyer img {
    width: 100%;
}
.inner-content .blockquote {
    margin-top: 20px;
}
.inner-content .blockquote p {
    text-align: center;
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
    color: #009688;
}
.full-content p {
    margin-top: 10px;
}
@media only screen and (max-width: 580px) {
    .page-top {
        margin-top: 0;
    }
    .page-top .hero-text b {
        font-size: 25px;
    }
    .page-top .col-md-5 {
        text-align: center !important;
    }
    .breadcrumb {
        float: none;
        display: block;
    }
    .breadcrumb li {
        display: inline-block;
    }
    .nav-tab-wrap .nav li a {
        font-size: 12px;
        padding: 5px 6px;
    }
    .inner-content p, .inner-content ul li {
        font-size: 14px;
    }
    .content-img {
        width: 175px;
    }
    .content-img .image {
        height: 175px;
    }
    .inner-content h3 {
        font-size: 20px;
    }
    .inner-content p b {
        font-size: 17px;
    }
}
.media-partner {}
.media-partner ul {
    display: table;
    margin: 20px auto;
}
.media-partner ul li {
    display: table-cell;
    vertical-align: middle;
}
.media-partner ul li:before {
    display: none;
}
.media-partner ul li a {
    display: block;
    width: 100px;
}
.media-partner ul li a img {
    width: 100%;
}
.table td, .table th {
    font-size: 20px;
}
.accordion .card {
    background-color: #fff;
    margin-bottom: 15px;
}
.accordion .card .card-header {
    position: relative;
    padding: 0;
}
.accordion .card .card-header .btn {
    color: #000;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0;
    white-space: normal;
    padding-right: 40px;
    text-decoration: none;
    padding: 20px 30px 20px 15px;
    font-weight: 700;
}
.accordion .card .card-header .btn:after {
    content: "-";
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: #009688;
    display: block;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7.5px;
    font-weight: 800;
}
.accordion .card .card-header .btn.collapsed {}
.accordion .card .card-header .btn.collapsed:after {
    content: "+";
}
.accordion .card .show {
    border-bottom: 1px solid #dfdfdf;
}
.news-block {
    margin-bottom: 15px;
}
.news-block .image-box {
    margin: 0;
}
.news-block .image-box img {
    width: 100%;
}
.news-block .lower-box {
    background-color: #fbf8f8;
    padding: 15px 20px;
}
.news-block .lower-box h4 {
    font-size: 20px;
    font-weight: 800;
}
.news-block .lower-box h4 a {
    color: #585858;
}
.news-block .news-date {}
.news-block .news-date a {
    color: #9e9b9b;
    display: block;
    margin: 6px 0;
}
.news-block .news-date a i {
    margin-right: 10px;
}
.news-block p {
    line-height: 23px;
    font-size: 14px;
    max-height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0 0 10px 0;
}
#hero {
    width: 100%;
    /*    height: 470px;*/
    /*    margin-top: 50px;*/
    padding-bottom: 60px;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 45px;
    font-weight: 800;
    line-height: 52px;
    color: #098e75;
}
#hero h2 {
    color: #484848;
    margin-bottom: 50px;
    font-size: 18px;
}
.btn-get-started {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    background-color: #098e75;
    color: #fff;
    border: 1px solid #098e75;
}
.btn-get-started:hover {
    background: transparent;
    color: #098e75;
}
#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}
@media (max-width: 991px) {
    #hero {
        height: 100vh;
    }
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}
@media (max-width: 768px) {
    #hero {
        margin-top: 20px;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}
@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}
@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
.hero-img {
    width: 370px;
    margin: 0 auto;
}
.nav-tabs {
    position: static;
    width: 100%;
    text-align: left;
    transform: none;
    display: flex;
    flex-wrap: nowrap;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f7f8fd;
    letter-spacing: -4px;
    overflow: hidden;
}
.nav-tabs .nav-link {
    width: 100%;
    color: #000;
    font-weight: 700;
    border-radius: 0;
    border: none;
    padding: 10px 15px;
    letter-spacing: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #fff;
    background-color: #203c7d;
    border-color: #1b336b #1b336b #fff;
}
.tab-wrapper {
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
/*Detail section css*/
.detail-section, .section-bg {
    padding: 80px 0;
    background-color: #f6f8f9;
}
.service-content-item {
    margin: 0 0 30px 0;
    box-shadow: 0 0 9px 0 rgba(68, 88, 144, 0.12);
    position: relative;
    padding: 30px;
    overflow: hidden;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    font-size: 14px;
}
.service-content-item p {
    font-size: 16px;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.service-content-icon {
    width: 52px;
    height: 52px;
    background-color: #098e75;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -8px;
    left: 0px;
}
.service-content-icon img {
    width: 30px;
    filter: invert(1);
}
.item-title {
    position: relative;
    padding-left: 65px;
    height: 33px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.service-content-item h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
    /*    font-size: 20px;*/
    color: #098e75;
}
.section-heading {
    max-width: 900px;
    margin: 0 auto 30px auto;
}
.section-heading .section-title {
    font-weight: 800 !important;
    font-size: 2.5rem;
}
.section-heading p {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 25px;
}
.owl-carousel .owl-item {
    padding: 10px 15px;
}
.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -15px;
}
.slick-arrow {
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    background-color: #098e75 !important;
    margin-left: 6px;
    color: #fff !important;
    border-radius: 3px;
    position: relative;
    /* text-indent: -9999px; */
    border: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -15px;
    z-index: 99;
    cursor: pointer;
}
.next_arrow {
    right: 3px;
    left: auto;
}
.slick-arrow:before {
    content: "";
    border-top: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 9px solid #07735f;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 2px;
}
.next_arrow:before {
    border-left: 9px solid #07735f;
    border-right: none;
    left: auto;
    right: 2px;
}
/*
.slick-arrow:after {
	content: "\f104";
	font-family: FontAwesome;
}
*/
.owl-nav button span {
    font-size: 25px;
    display: block;
}
.owl-carousel.owl-drag .owl-item {
    padding: 10px 15px;
}
.owl-nav button + button {
    position: absolute;
    right: 5px;
}
.special-item {
    box-shadow: 0 0 7px 0 rgba(68, 88, 144, 0.12);
    padding: 20px 20px 10px 20px;
    min-height: 215px;
}
.special-item h3 {
    font-size: 16px;
    font-weight: 700;
}
.special-item .links {}
.special-item .links i {}
.special-item .icon {
    width: 100px;
    height: 100px;
    background-color: #d9e8f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 15px auto;
}
.special-item .icon img {
    width: 55%;
}
.slick-initialized .slick-slide {
    padding: 30px 0;
    opacity: 0.5;
    margin: 0 15px;
    transition: all .6s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: all .6s cubic-bezier(.645, .045, .355, 1);
    -moz-transition: all .6s cubic-bezier(.645, .045, .355, 1);
}
.item.slick-current.slick-center {
    opacity: 1;
}
.item.slick-current.slick-center .special-item {
    padding: 20px 20px 10px 20px;
    min-height: 250px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: -22px;
}
.slick-dots {
    display: flex;
    align-items: center;
    padding: 0;
}
.slick-slider {
    margin: 0 -15px;
}
/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
    background-color: #f6f8f9;
    padding: 60px 0;
}
.more-services .card {
    border: none;
    background-color: transparent;
}
.more-services .card-title, .more-services .card-text, .more-services .read-more {
    padding-left: 20px;
    padding-right: 20px;
}
.more-services .card-body {
    padding: 15px;
    padding-bottom: 20px !important;
    text-align: center;
}
.more-services .card-body h5 {
    font-weight: 800;
    margin-bottom: 10px;
    color: #098e75;
    font-size: 1.25rem;
}
.more-services .card img {
    width: 70%;
    position: relative;
}
.more-services .card img:after {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    content: "";
}
.more-services .card-body {
    z-index: 10;
    background: transparent;
    padding: 0px;
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 0px;
}
.color-black {
    color: #333 !important;
}
.color-black.icon-span {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 7px;
}
.icon-span {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #098e75;
    box-shadow: none;
    transition: 0.3s linear;
    border: 2px solid #098e75;
    font-weight: 800;
    z-index: 99;
    position: relative;
}
.more-services .card-title {
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15px;
}
.more-services .card-title a {
    color: #222222;
}
.more-services .card-text {
    color: #5e5e5e;
    font-size: 14px;
    position: relative;
}
.more-services .card-text:before {
    height: 1px;
    width: 100%;
    position: absolute;
    top: 21px;
    content: "";
    background: #098e75;
    left: 0;
}
.left-menu .services {
    position: sticky;
    top: 100px;
}
.promo-card.left {
    background-color: #eeebfd;
    border-radius: 8px;
    padding: 20px !important;
}
.more-services .read-more a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
}
.more-services .read-more a:hover {
    text-decoration: underline;
}
.section-title {
    text-align: center;
    padding-bottom: 0;
}
.section-title h2 {
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    color: #222222;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    padding-top: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    text-align: center;
    margin: auto;
}
.team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}
.team .member .social a {
    transition: color 0.3s;
    color: #222222;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
}
.team .member .social a:hover {
    color: #098e75;
}
.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}
.team .member .member-info {
    padding: 25px 15px;
}
.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #222222;
}
.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #555;
}
.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}
.team .member:hover .social {
    opacity: 1;
}
section.contact-info-section {
    padding: 100px 0;
    margin: 0;
    color: #fff;
    background-image: url(../img/contact-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    color: #fff;
}
section.contact-info-section div {
    z-index: 99;
}
section.contact-info-section::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0.85;
    background: #0015ae;
}
.contact-info-section h3 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #fff;
}
.contact-info-section p {
    color: #fff;
}
.contact-info-section .cta-btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}
.contact-info-section .cta-btn:hover, .contact-info-section .cta-btn:focus {
    background-color: #fff;
    color: #0015ae;
}
.email-contact a {
    color: #fff;
}
footer {
    background-color: #197765;
    padding: 40px 20px 0 20px;
    color: #fff;
}
footer h3 {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}
footer p {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #fff;
}
.social-media ul li {
    display: inline-block;
    font-size: 30px;
}
footer a {
    color: #fff;
    display: inline-block;
}
footer ul li {
    list-style-type: none;
}
footer ul.contact li {
    list-style: none;
    position: relative;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 500;
}
footer ul.contact li i {
    margin-right: 7px;
}
footer ul {
    padding-left: 0;
}
.bottom-footer {
    padding: 10px 0;
    border-top: 1px solid #208f7a;
}
.left-menu .nav-top span.icon-span img {
    height: 15px;
}
.left-menu .nav-top .nav-link:hover span.icon-span img {
    filter: invert(1);
}
/*Blog Css Start*/
.blog-post {
    position: relative;
    margin-bottom: 30px;
    max-height: 300px;
    border-radius: 5px;
    overflow: hidden;
}
.blog-post .blog-date {}
.blog-post .blog-date .day {}
.blog-post .blog-img {
    height: 300px;
}
.blog-post .blog-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.blog-detail .blog-img {
    height: 450px;
}
.blog-post .blog-content {
    padding: 15px 15px;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgb(0 0 0) 0%, transparent 100%);
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}
.blog-post .blog-content h4 {
    margin-bottom: 10px;
    color: #fff;
}
.blog-post .blog-content h4 a {
    color: #fff;
    font-size: 20px;
    display: block;
    font-weight: 700;
}
.blog-post .blog-content p {
    font-size: 16px;
}
.blog-post .post {}
.blog-post .post ul {
    padding: 0;
    margin: 0;
}
.blog-post .post ul li {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}
.blog-post .post ul li a {
    color: #fff;
}
.blog-post .post ul li a i {
    margin-right: 5px;
}
.social-share {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.social-share b {
    display: inline-block;
    margin-right: 10px;
}
.social-share ul {
    display: inline-block;
    vertical-align: middle;
}
.social-share ul li {
    display: inline-block;
}
.social-share ul li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    background-color: #1ea8aa;
    color: #fff;
    border-radius: 50%;
    margin: 0 2px;
}
.social-share ul li a.facebook {
    background-color: #3b5998;
}
.social-share ul li a.twitter {
    background-color: #00aced;
}
.social-share ul li a.pinterest {
    background-color: #cb2027;
}
.social-share ul li a.google-plus {
    background-color: #dd4b39;
}
.social-share ul li a:hover {
    background-color: #1ea8aa;
}
.blog-post .post ul li a svg, .comment-text .review__awaiting-approval svg {
    margin-right: 7px;
    width: .875em;
}
.comment-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cmt-section .review__awaiting-approval {
    font-style: normal !important;
    padding: 0 0 10px 0 !important;
}
.comment-text .user-icon svg {
    width: 20px;
    height: 30px;
}
.review-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}
.comment-text {
    position: relative;
    padding-left: 52px;
}
.comment-text .user-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: #c5c5c5;
    position: absolute;
    top: 0;
    left: 0;
}
.comment-text .comment-description .star-rating {
    float: right;
}
.comment-text .comment-description .star-rating i {
    color: #ffd200;
    margin: 0 2px;
}
.comment-text .comment-description .review__awaiting-approval {
    font-size: 12px;
    font-style: italic;
    float: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
.comment-text .comment-description .description {
    font-size: 14px;
}
.comment-text .comment-description .description p {}
.review-form-wrapper {}
.review-form-wrapper p {
    padding-bottom: 0;
}
.review-form-wrapper form .required {
    color: #ff0000;
}
.review-form-wrapper form .form-group {}
.review-form-wrapper form .form-group .form-control {
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #ccc;
}
.review-form-wrapper form .form-group label {
    display: block;
}
.review-form-wrapper form .form-submit input[type="submit"] {
    background-color: #098e75;
    border: none;
    color: #ffffff;
    border-radius: 0;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 30px;
}
.secondary-nav {}
.secondary-nav .logo img {
    filter: brightness(0) invert(1);
}
.secondary-nav .menu > ul > li a {
    color: #fff;
}
.secondary-nav.cbp-af-header-shrink .logo img {
    filter: none;
}
/*Hero Section2*/
.hero-section2 {
    background: url("../img/medical.jpg") no-repeat;
    position: relative;
    background-size: cover;
    padding-top: 100px;
    min-height: 100vh;
}
.hero-section2:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(32 68 155 / 95%);
    display: block;
    position: absolute;
    top: 0;
}
.hero-section2 h1 {
    color: #fff !important;
    font-size: 35px !important;
    line-height: 45px !important;
}
.hero-section2 h2 {
    color: #fff !important;
    font-size: 17px !important;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 30px !important;
}
.hero-section2 .stati i {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    line-height: normal;
    color: #ec4072;
}
.hero-section2 .stat-name {}
.hero-section2 .stat-name h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 800;
}
.hero-section2 .stat-name span {}
/*--------------------------------------------------------------
# About Us Section2
--------------------------------------------------------------*/
.about-section2 .content h3 {
    font-weight: 600;
    font-size: 26px;
}
.about-section2 .content ul {
    list-style: none;
    padding: 0;
}
.about-section2 .content ul li {
    padding-left: 28px;
    position: relative;
}
.about-section2 .content ul li + li {
    margin-top: 10px;
}
.about-section2 .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #0f439d;
    line-height: 1;
}
.about-section2 .content p:last-child {
    margin-bottom: 0;
}
.about-section2 .content .btn-learn-more {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #0f439d;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #0f439d;
}
.about-section2 .content .btn-learn-more:hover {
    background: #0f439d;
    color: #fff;
    text-decoration: none;
}
.about-image img {
    width: 80%;
}
.about-section2 .section-heading, .why-us .section-heading {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}
.webinars iframe {
    max-width: 100%;
    height: 200px;
    text-align: center;
    margin: 0;
}
.webinar-title {
    font-size: 18px;
    background: #fff;
    padding: 15px 20px;
    font-weight: 600;
    margin: 0;
    margin-top: -10px;
}
.why-us {
    padding: 60px 0;
}
.why-us .section-heading {}
.why-us .sub-heading {
    display: block;
    margin: 10px 0 0 0 !important;
}
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
    padding: 60px 100px 0 100px;
}
.why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
.why-us .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.why-us .accordion-list {
    padding: 0 100px 60px 100px;
}
.why-us .accordion-list ul {
    padding: 0;
    list-style: none;
}
.why-us .slick-prev:before, .why-us .slick-next:before {
    color: #fff !important;
}
.why-us .slick-prev, .why-us .slick-next {
    height: 50px !important;
    width: 32px !important;
    background-color: #2196f3 !important;
}
.why-us .slick-next {
    right: -25px;
}
.why-us .slick-initialized .slick-slide, .consult .slick-slide {
    opacity: 1;
}
.why-us .slick-arrow, .consult .slick-arrow {
    left: -2px;
}
.why-us .next_arrow, .consult .next_arrow {
    right: 4px;
    left: auto;
}
.why-us .accordion-list li + li {
    margin-top: 15px;
}
.why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}
.why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
}
.why-us .accordion-list span {
    color: #0f439d;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
.why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}
.why-us .accordion-list .icon-show {
    display: none;
}
.why-us .accordion-list a.collapsed {
    color: #343a40;
}
.why-us .accordion-list a.collapsed:hover {
    color: #0f439d;
}
.why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
}
.why-us .accordion-list a.collapsed .icon-close {
    display: none;
}
@media (max-width: 1024px) {
    .why-us .content, .why-us .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 992px) {
    .why-us .img {
        min-height: 400px;
    }
    .why-us .content {
        padding-top: 30px;
    }
    .why-us .accordion-list {
        padding-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .why-us .img {
        min-height: 200px;
    }
}
.blog-detail-wrap .blog-img, .cover-img {
    position: relative;
    max-height: 90vh;
    overflow: hidden;
}
.blog-detail-wrap .blog-img:before {
    content: "";
    background: rgb(0 0 0 / 73%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.blog-detail-wrap .blog-img img, .cover-img img {
    width: 100%;
    display: block;
}
.blog-detail-wrap .blog-content {
    position: static;
    background: transparent;
    max-height: inherit;
    display: block;
}
.blog-top-content {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 60px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.blog-top-content h2 {
    color: #06ae78;
    font-weight: 900;
}
.blog-top-content .container {
    max-width: 900px;
    margin: 0 auto;
}
.blog-top-content .post {
    margin: 30px 0;
}
.blog-top-content .post ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-top-content .post ul li {
    list-style: none;
}
.blog-top-content .post ul li a {
    color: #fff;
    padding: 0 10px;
    font-size: 18px;
    display: block;
}
.blog-top-content .post ul li a .hydrated {
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
.blog-post.blog-detail {
    max-height: inherit;
}
/*Profile Css  Start*/
.cover-img {
    max-height: 50vh;
}
.cover-img img {}
.profile-img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 1px 4px 2px rgb(0 0 0 / 25%);
    z-index: 1;
    position: relative;
}
.profile-img img {
    width: 100%;
}
.profile-content {
    margin: 15px 0;
}
.profile-content h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 9px;
}
.profile-content p {
    margin-bottom: 2px;
    font-size: 16px;
}
.profile-content .btn {
    position: relative;
    border-radius: 5px;
    text-align: left;
    letter-spacing: 0;
    text-transform: none;
    font-size: 17px;
    font-weight: 800;
    padding-left: 48px;
    line-height: 23px;
    background-color: #21459c;
}
.profile-content .btn .hydrated {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 25px;
}
.profile-content .btn span {
    display: block;
    font-weight: normal;
    font-size: 15px;
}
.stats .stat-img .stat-value {
  position: absolute;
  bottom: 0;
  padding: 15px 15px;
  text-shadow: 0px 0px 8px #000;
  color: #fff;
  text-align: left;
  width: 100%;
}
.stats .stat-img .stat-value h1 {
  margin-bottom: 0 !important;
  font-size: 22px;
  font-weight: 900;
  color: #fff;
}
.stats .stat-img .stat-value p {
  margin-top: 0;
  color: #fff;
  margin: 0;
  line-height: normal;
}
.stats img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.stats .stat-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.stats .stat-img:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1 );
}
.hero-section-small {
	position: relative;
	min-height: 200px;
}
.hero-section-small .hero-content-form-wrapper {
	
padding: 7px;
}
.hero-section-small .hero-content-form-wrapper .inner-form {
	
position: relative;
	
padding: 35px 20px 0 20px;
}
.hero-section-small .hero-content-form-wrapper .inner-form .top-form-icon {
	
width: 70px;
	
height: 70px;
	
line-height: 70px;
	
border-radius: 50%;
	
background-color: #264a9e;
	
justify-content: center;
	
flex-direction: column;
	
display: flex;
	
align-items: center;
	
font-size: 30px;
	
color: #fff;
	
border: 3px solid #fff;
	
position: absolute;
	
top: -40px;
	
left: 50%;
	
margin-left: -35px;
	
box-shadow: 0px 0px 3px 0px rgb(0,0,0,0.3);
}
.hero-section-small .hero-content-form-wrapper h3 {
	
margin-top: 0;
	
font-size: 20px;
}
.hero-section-small .hero-content-form-wrapper .form-control {
	padding: 10px 15px 10px 15px;
	height: auto;
}
.hero-section-small .hero-content-form-wrapper .form-group {
	margin-bottom: 5px;
}
.hero-section-small .hero-content-form-wrapper .btn {
	width: 100%;
}